version: 2
machine:
  services:
    - docker

jobs:
  build:
    docker:
      - image: node:8.11.1@sha256:9fef54193f605eb77fcb7eaae564e7cc9b3444a12d76a2e1c87b9789752852b3
      - image: mongo:3.7.9@sha256:e6f5c2185eb64e0eb4c3d8ef8a903ad0fff0e2554b1bc03c8b1bb25103882102
      - image: redis:3.2.11@sha256:6ff2a3a2ddb62378e778180ead0acaf5b44f6e719e42a1ae8c261dd969a16f2a
    environment:
      - DOCKER_REPO_SLUG: learninglocker/xapi-service
      - DOCKER_USERNAME: ryansmith94
      - DOCKER_EMAIL: 0ryansmith1994@gmail.com
      - NPM_CONFIG_LOGLEVEL: warn
      - WINSTON_CONSOLE_LEVEL: none
      - EXPRESS_PORT: 1337
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Installing Dependencies
          command: yarn install --ignore-engines
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Compiling Code
          command: yarn build
      - run:
          name: Conformance Tests
          command: sh test.sh
      - run:
          name: Linting Code
          command: yarn lint -- -c tslint.ci.json
      - run:
          name: Docker Install
          command: |
            set -x
            DOCKER_VERSION="17.03.0-ce"
            curl -L -o /tmp/docker-$DOCKER_VERSION.tgz https://get.docker.com/builds/Linux/x86_64/docker-$DOCKER_VERSION.tgz
            tar -xz -C /tmp -f /tmp/docker-$DOCKER_VERSION.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Docker Build
          command: docker build -t "$DOCKER_REPO_SLUG" .
      - deploy:
          name: Semantic Release
          command: yarn semantic-release
